node-red-app.js
[{"id":"c34b77a3.0ee858","type":"serial out","z":"90cf2439.d8c998","name":"","serial":"550419bd.2d4688","x":856.5,"y":435,"wires":[]},{"id":"7ca4f82.2dd9f08","type":"serial in","z":"90cf2439.d8c998","name":"","serial":"550419bd.2d4688","x":264.5,"y":239,"wires":[["22a278e3.faf928","a10e8c2e.47458","866a311b.6d225"]]},{"id":"f2dd3758.b5a4d8","type":"irc in","z":"90cf2439.d8c998","name":"","ircserver":"87859310.fadfb","channel":"#lghskicker","x":476.5,"y":320,"wires":[["c34b77a3.0ee858"],[]]},{"id":"22a278e3.faf928","type":"irc out","z":"90cf2439.d8c998","name":"","sendObject":"pay","ircserver":"87859310.fadfb","channel":"#lghskicker","x":457.5,"y":80,"wires":[]},{"id":"a90996cf.109328","type":"ui_colour_picker","z":"90cf2439.d8c998","name":"","label":"color","group":"662b3921.bde688","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"order":1,"width":"0","height":"0","passthru":true,"topic":"","x":300.5,"y":404,"wires":[["afee9aad.1f1b38"]]},{"id":"afee9aad.1f1b38","type":"function","z":"90cf2439.d8c998","name":"Create color command string","func":"msg = {payload: \"c 0x\"+msg.payload.replace(/\\#/, '')}\nreturn msg;","outputs":1,"noerr":0,"x":543.5,"y":414,"wires":[["c34b77a3.0ee858"]]},{"id":"9c1feb82.6c7008","type":"function","z":"90cf2439.d8c998","name":"create command string","func":"msg = {payload: \"m \"+msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":467,"wires":[["c34b77a3.0ee858"]]},{"id":"351487e6.c1abb8","type":"ui_text","z":"90cf2439.d8c998","group":"662b3921.bde688","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":824.5,"y":187,"wires":[]},{"id":"a10e8c2e.47458","type":"function","z":"90cf2439.d8c998","name":"check arduino messages","func":"var payload = msg.payload;\nif(payload.match(/G\\d/)){\n    \n    msg = {payload: \"m \"+Math.floor(Math.random()*44)};\n    return [null, msg];\n}else if(payload.match(/Set mode to: \\d* \\-/i)){\n    payload = payload.replace(/Set mode to: \\d* \\-/i, '');\n    msg = {payload: payload}\n    return [msg, null];\n}\n\n//return msg;\n\n","outputs":"2","noerr":0,"x":507,"y":238,"wires":[["351487e6.c1abb8"],["b044daa8.37d7c8"]]},{"id":"63b1fe17.957a3","type":"ui_button","z":"90cf2439.d8c998","name":"brightness +","group":"662b3921.bde688","order":4,"width":0,"height":0,"label":"brightness +","color":"","bgcolor":"","icon":"","payload":"b+","payloadType":"str","topic":"","x":306.5,"y":572,"wires":[["c34b77a3.0ee858"]]},{"id":"4cca9919.0529d8","type":"ui_button","z":"90cf2439.d8c998","name":"brightness -","group":"662b3921.bde688","order":5,"width":0,"height":0,"label":"brightness -","color":"","bgcolor":"","icon":"","payload":"b-","payloadType":"str","topic":"","x":308,"y":621,"wires":[["c34b77a3.0ee858"]]},{"id":"866a311b.6d225","type":"debug","z":"90cf2439.d8c998","name":"","active":true,"console":"false","complete":"false","x":529.5,"y":152,"wires":[]},{"id":"b044daa8.37d7c8","type":"trigger","z":"90cf2439.d8c998","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"4500","extend":false,"units":"ms","reset":"","name":"","x":793.5,"y":280,"wires":[["f189828b.b4158"]]},{"id":"f189828b.b4158","type":"function","z":"90cf2439.d8c998","name":"choose fx","func":"var payload = \"\";\nif(msg.payload === 0){\n    payload = \"m 0\";\n    \n}else{\n    var fx = [44, 30, 26, 8, 40, 11];\n    payload = \"m \"+fx[Math.floor(Math.random()*fx.length)];\n}\n\nmsg = {payload: payload}\nreturn msg;\n","outputs":1,"noerr":0,"x":881.5,"y":357,"wires":[["c34b77a3.0ee858"]]},{"id":"67ad5596.37981c","type":"ui_dropdown","z":"90cf2439.d8c998","name":"","label":"FX","group":"662b3921.bde688","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":325.5,"y":493,"wires":[["9c1feb82.6c7008"]]},{"id":"727f4a90.e916e4","type":"inject","z":"90cf2439.d8c998","name":"","topic":"","payload":"666","payloadType":"num","repeat":"","crontab":"","once":true,"x":59.5,"y":475,"wires":[["d87a8a6a.92d1d8"]]},{"id":"d87a8a6a.92d1d8","type":"function","z":"90cf2439.d8c998","name":"","func":"if(msg.payload == 666){\n    msg.options = \n    [ {\"Static\":\"0\"}, {\"Blink\":\"1\"}, {\"Breath\":\"2\"}, {\"Color Wipe\":\"3\"}, {\"Color Wipe Random\":\"4\"}, {\"Random Color\":\"5\"}, {\"Single Dynamic\":\"6\"}, {\"Multi Dynamic\":\"7\"}, {\"Rainbow\":\"8\"}, {\"Rainbow Cycle\":\"9\"}, {\"Scan\":\"10\"}, {\"Dual Scan\":\"11\"}, {\"Fade\":\"12\"}, {\"Theater Chase\":\"13\"}, {\"Theater Chase Rainbow\":\"14\"}, {\"Running Lights\":\"15\"}, {\"Twinkle\":\"16\"}, {\"Twinkle Random\":\"17\"}, {\"Twinkle Fade\":\"18\"}, {\"Twinkle Fade Random\":\"19\"}, {\"Sparkle\":\"20\"}, {\"Flash Sparkle\":\"21\"}, {\"Hyper Sparkle\":\"22\"}, {\"Strobe\":\"23\"}, {\"Strobe Rainbow\":\"24\"}, {\"Multi Strobe\":\"25\"}, {\"Blink Rainbow\":\"26\"}, {\"Chase White\":\"27\"}, {\"Chase Color\":\"28\"}, {\"Chase Random\":\"29\"}, {\"Chase Rainbow\":\"30\"}, {\"Chase Flash\":\"31\"}, {\"Chase Flash Random\":\"32\"}, {\"Chase Rainbow White\":\"33\"}, {\"Chase Blackout\":\"34\"}, {\"Chase Blackout Rainbow\":\"35\"}, {\"Color Sweep Random\":\"36\"}, {\"Running Color\":\"37\"}, {\"Running Red Blue\":\"38\"}, {\"Running Random\":\"39\"}, {\"Larson Scanner\":\"40\"}, {\"Comet\":\"41\"}, {\"Fireworks\":\"42\"}, {\"Fireworks Random\":\"43\"}, {\"Merry Christmas\":\"44\"}];\n}\nreturn msg;","outputs":1,"noerr":0,"x":190.5,"y":496,"wires":[["67ad5596.37981c"]]},{"id":"550419bd.2d4688","type":"serial-port","z":"90cf2439.d8c998","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"87859310.fadfb","type":"irc-server","z":"90cf2439.d8c998","server":"irc.freenode.net","port":"6667","ssl":false,"cert":false,"nickname":"KickerLight"},{"id":"662b3921.bde688","type":"ui_group","z":"","name":"Kicker Light Control","tab":"c48f773c.0646d8","order":1,"disp":true,"width":"6"},{"id":"c48f773c.0646d8","type":"ui_tab","z":"","name":"Hello world","icon":"dashboard","order":0}]