node-red-app.js
[{"id":"555597e5.0fc788","type":"function","z":"90cf2439.d8c998","name":"add goal 2","func":"flow.set('score2', \n    parseInt(flow.get('score2')  + 1));\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1148,"wires":[["ca601da1.1f4c"]]},{"id":"c34b77a3.0ee858","type":"serial out","z":"90cf2439.d8c998","name":"","serial":"550419bd.2d4688","x":1142.5,"y":451,"wires":[]},{"id":"7ca4f82.2dd9f08","type":"serial in","z":"90cf2439.d8c998","name":"","serial":"550419bd.2d4688","x":324.5,"y":168,"wires":[["a10e8c2e.47458","866a311b.6d225","7fa5be05.f933c"]]},{"id":"f2dd3758.b5a4d8","type":"irc in","z":"90cf2439.d8c998","name":"","ircserver":"87859310.fadfb","channel":"#lghskicker","x":547.5,"y":317,"wires":[["c34b77a3.0ee858"],[]]},{"id":"22a278e3.faf928","type":"irc out","z":"90cf2439.d8c998","name":"","sendObject":"pay","ircserver":"87859310.fadfb","channel":"#lghskicker","x":555.5,"y":95,"wires":[]},{"id":"a90996cf.109328","type":"ui_colour_picker","z":"90cf2439.d8c998","name":"","label":"color","group":"662b3921.bde688","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"order":1,"width":"0","height":"0","passthru":true,"topic":"","x":300.5,"y":494,"wires":[["afee9aad.1f1b38"]]},{"id":"afee9aad.1f1b38","type":"function","z":"90cf2439.d8c998","name":"Build color command string","func":"return {payload: \"c 0x\"+msg.payload.replace(/\\#/, '')}","outputs":1,"noerr":0,"x":511.5,"y":485,"wires":[["c34b77a3.0ee858"]]},{"id":"9c1feb82.6c7008","type":"function","z":"90cf2439.d8c998","name":"build FX command string","func":"return {payload: \"m \"+msg.payload }\n","outputs":1,"noerr":0,"x":520,"y":446,"wires":[["c34b77a3.0ee858"]]},{"id":"351487e6.c1abb8","type":"ui_text","z":"90cf2439.d8c998","group":"662b3921.bde688","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":980.5,"y":185,"wires":[]},{"id":"a10e8c2e.47458","type":"function","z":"90cf2439.d8c998","name":"check arduino messages","func":"var payload = msg.payload;\nif(payload.match(/G1/)){\n    \n    msg = {payload: \"m \"+Math.floor(Math.random()*44)};\n    return [null, null, msg];\n}else if(/G2/){\n    return [null, msg, null]\n    \n}else if(payload.match(/Set mode to: \\d* \\-/i)){\n    payload = payload.replace(/Set mode to: \\d* \\-/i, '');\n    msg = {payload: payload}\n    return [msg, null, null];\n}\n\n//return msg;\n\n","outputs":"3","noerr":0,"x":729,"y":214,"wires":[["351487e6.c1abb8"],["b044daa8.37d7c8","668b10b.43901f"],["b044daa8.37d7c8","555597e5.0fc788"]]},{"id":"63b1fe17.957a3","type":"ui_button","z":"90cf2439.d8c998","name":"brightness +","group":"662b3921.bde688","order":4,"width":0,"height":0,"label":"brightness +","color":"","bgcolor":"","icon":"","payload":"b+","payloadType":"str","topic":"","x":569.5,"y":522,"wires":[["c34b77a3.0ee858"]]},{"id":"4cca9919.0529d8","type":"ui_button","z":"90cf2439.d8c998","name":"brightness -","group":"662b3921.bde688","order":5,"width":0,"height":0,"label":"brightness -","color":"","bgcolor":"","icon":"","payload":"b-","payloadType":"str","topic":"","x":571,"y":566,"wires":[["c34b77a3.0ee858"]]},{"id":"866a311b.6d225","type":"debug","z":"90cf2439.d8c998","name":"Debug Serial In","active":false,"console":"false","complete":"payload","x":705.5,"y":146,"wires":[]},{"id":"b044daa8.37d7c8","type":"trigger","z":"90cf2439.d8c998","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"4000","extend":false,"units":"ms","reset":"","name":"","x":1010.5,"y":225,"wires":[["f189828b.b4158"]]},{"id":"f189828b.b4158","type":"function","z":"90cf2439.d8c998","name":"choose random FX","func":"var payload = \"\";\nif(msg.payload === 0){\n    payload = \"m 0\";\n    \n}else{\n    var fx = [44, 30, 26, 14, 33, 40];\n    payload = \"m \"+fx[Math.floor(Math.random()*fx.length)];\n}\n\nmsg = {payload: payload}\nreturn msg;\n","outputs":1,"noerr":0,"x":1152.5,"y":315,"wires":[[]]},{"id":"67ad5596.37981c","type":"ui_dropdown","z":"90cf2439.d8c998","name":"","label":"FX","group":"662b3921.bde688","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":298.5,"y":446,"wires":[["9c1feb82.6c7008"]]},{"id":"727f4a90.e916e4","type":"inject","z":"90cf2439.d8c998","name":"Bang","topic":"","payload":"666","payloadType":"num","repeat":"","crontab":"","once":true,"x":96.5,"y":520,"wires":[["d87a8a6a.92d1d8","67b5e5d4.b8ecfc"]]},{"id":"d87a8a6a.92d1d8","type":"function","z":"90cf2439.d8c998","name":"Populate dropdown with FX list","func":"if(msg.payload == 666){\n    msg.options = \n    [ {\"Static\":\"0\"}, {\"Blink\":\"1\"}, {\"Breath\":\"2\"}, {\"Color Wipe\":\"3\"}, {\"Color Wipe Random\":\"4\"}, {\"Random Color\":\"5\"}, {\"Single Dynamic\":\"6\"}, {\"Multi Dynamic\":\"7\"}, {\"Rainbow\":\"8\"}, {\"Rainbow Cycle\":\"9\"}, {\"Scan\":\"10\"}, {\"Dual Scan\":\"11\"}, {\"Fade\":\"12\"}, {\"Theater Chase\":\"13\"}, {\"Theater Chase Rainbow\":\"14\"}, {\"Running Lights\":\"15\"}, {\"Twinkle\":\"16\"}, {\"Twinkle Random\":\"17\"}, {\"Twinkle Fade\":\"18\"}, {\"Twinkle Fade Random\":\"19\"}, {\"Sparkle\":\"20\"}, {\"Flash Sparkle\":\"21\"}, {\"Hyper Sparkle\":\"22\"}, {\"Strobe\":\"23\"}, {\"Strobe Rainbow\":\"24\"}, {\"Multi Strobe\":\"25\"}, {\"Blink Rainbow\":\"26\"}, {\"Chase White\":\"27\"}, {\"Chase Color\":\"28\"}, {\"Chase Random\":\"29\"}, {\"Chase Rainbow\":\"30\"}, {\"Chase Flash\":\"31\"}, {\"Chase Flash Random\":\"32\"}, {\"Chase Rainbow White\":\"33\"}, {\"Chase Blackout\":\"34\"}, {\"Chase Blackout Rainbow\":\"35\"}, {\"Color Sweep Random\":\"36\"}, {\"Running Color\":\"37\"}, {\"Running Red Blue\":\"38\"}, {\"Running Random\":\"39\"}, {\"Larson Scanner\":\"40\"}, {\"Comet\":\"41\"}, {\"Fireworks\":\"42\"}, {\"Fireworks Random\":\"43\"}, {\"Merry Christmas\":\"44\"}];\n}\nreturn msg;","outputs":1,"noerr":0,"x":248.5,"y":375,"wires":[["67ad5596.37981c"]]},{"id":"e45b379d.210bf8","type":"comment","z":"90cf2439.d8c998","name":"Anim duration","info":"","x":990.5,"y":228,"wires":[]},{"id":"7fa5be05.f933c","type":"ui_text","z":"90cf2439.d8c998","group":"3128cd22.230db2","order":0,"width":0,"height":0,"name":"","label":"Serial log","format":"{{msg.payload}}","layout":"row-spread","x":488.5,"y":260,"wires":[]},{"id":"2ee4930d.2dd3fc","type":"ui_button","z":"90cf2439.d8c998","name":"","group":"e773a90d.835578","order":0,"width":0,"height":0,"label":"+","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":675.5,"y":1026,"wires":[["1f9fb6f3.e48659"]]},{"id":"e167244.32dd4d8","type":"ui_text","z":"90cf2439.d8c998","group":"e773a90d.835578","order":0,"width":0,"height":0,"name":"","label":"Score Player 1","format":"{{msg.payload}}","layout":"col-center","x":938.5,"y":963,"wires":[]},{"id":"fc3bd810.0eeae8","type":"ui_button","z":"90cf2439.d8c998","name":"","group":"e773a90d.835578","order":0,"width":0,"height":0,"label":"-","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":676.5,"y":1072,"wires":[["1f9fb6f3.e48659"]]},{"id":"668b10b.43901f","type":"function","z":"90cf2439.d8c998","name":"add goal 1","func":"var score = parseInt(flow.get('score1')  + 1);\nflow.set('score1',score);\n\nreturn {'payload':score};","outputs":1,"noerr":0,"x":1187.5,"y":890,"wires":[["43c3a71f.3d7908"]]},{"id":"be2ef72.3815d08","type":"comment","z":"90cf2439.d8c998","name":"Player 1","info":"","x":573.5,"y":1049,"wires":[]},{"id":"e363f94a.0b72c8","type":"function","z":"90cf2439.d8c998","name":"remove goal 1","func":"var score = flow.get('score1');\nscore = score > 1 ? score - 1 : current = 0;\nflow.set('score1', score);\n\nreturn {'payload':score};","outputs":1,"noerr":0,"x":1207,"y":999,"wires":[["43c3a71f.3d7908"]]},{"id":"43c3a71f.3d7908","type":"function","z":"90cf2439.d8c998","name":"get score player 1","func":"msg.payload = flow.get('score1') || 0;\nreturn msg;","outputs":1,"noerr":0,"x":1246.5,"y":693,"wires":[[]]},{"id":"67b5e5d4.b8ecfc","type":"ui_button","z":"90cf2439.d8c998","name":"","group":"283278ca.2ad648","order":0,"width":0,"height":0,"label":"Restart","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":253,"y":1095,"wires":[["69e15e2c.2494f","54855619.46bbb8"]]},{"id":"69e15e2c.2494f","type":"function","z":"90cf2439.d8c998","name":"reset goal 1","func":"flow.set('score1', 0);\n\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":965,"wires":[["e167244.32dd4d8"]]},{"id":"d6d85b8b.cdbd08","type":"ui_button","z":"90cf2439.d8c998","name":"","group":"110aad11.393fb3","order":0,"width":0,"height":0,"label":"+","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":681,"y":1158,"wires":[["1f9fb6f3.e48659"]]},{"id":"b94efc6f.0a015","type":"ui_text","z":"90cf2439.d8c998","group":"110aad11.393fb3","order":0,"width":0,"height":0,"name":"","label":"Score Player 2","format":"{{msg.payload}}","layout":"col-center","x":941,"y":1235,"wires":[]},{"id":"fbcca1b8.e5bac","type":"ui_button","z":"90cf2439.d8c998","name":"","group":"110aad11.393fb3","order":0,"width":0,"height":0,"label":"-","color":"","bgcolor":"","icon":"","payload":"-2","payloadType":"num","topic":"","x":680,"y":1203,"wires":[["1f9fb6f3.e48659"]]},{"id":"285ea61f.6317aa","type":"comment","z":"90cf2439.d8c998","name":"Player 2","info":"","x":579,"y":1180,"wires":[]},{"id":"3e98348e.2efc8c","type":"function","z":"90cf2439.d8c998","name":"remove goal 2","func":"var score = flow.get('score2');\nscore = score > 1 ? score - 1 : current = 0;\nflow.set('score2', score);\n\nreturn msg;","outputs":1,"noerr":0,"x":1188.5,"y":1272,"wires":[["ca601da1.1f4c"]]},{"id":"ca601da1.1f4c","type":"function","z":"90cf2439.d8c998","name":"get score player 2","func":"msg.payload = flow.get('score2') || 0;\nreturn msg;","outputs":1,"noerr":0,"x":1114,"y":1401,"wires":[[]]},{"id":"54855619.46bbb8","type":"function","z":"90cf2439.d8c998","name":"reset goal 2","func":"flow.set('score2', 0);\n\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":1237,"wires":[["b94efc6f.0a015"]]},{"id":"1f9fb6f3.e48659","type":"function","z":"90cf2439.d8c998","name":"Process Score","func":"var player = Math.abs(msg.payload);\n\nvar increment = (msg.payload > 0)?1:-1;\n\nvar score = flow.get('score'+player) + increment;\n\nflow.set('score'+player, score);\n\nmsg.payload = score;\n\nif(player == 1){\n   return [msg, null]; \n}else{\n    return [null, msg];\n}\n\n// return msg;","outputs":"2","noerr":0,"x":920.5,"y":1113,"wires":[["e167244.32dd4d8"],["b94efc6f.0a015"]]},{"id":"550419bd.2d4688","type":"serial-port","z":"90cf2439.d8c998","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"87859310.fadfb","type":"irc-server","z":"90cf2439.d8c998","server":"irc.freenode.net","port":"6667","ssl":false,"cert":false,"nickname":"KickerLight"},{"id":"662b3921.bde688","type":"ui_group","z":"","name":"Kicker Light Control","tab":"c48f773c.0646d8","order":1,"disp":true,"width":"6"},{"id":"3128cd22.230db2","type":"ui_group","z":"90cf2439.d8c998","name":"Log","tab":"c48f773c.0646d8","order":3,"disp":true,"width":"6"},{"id":"e773a90d.835578","type":"ui_group","z":"","name":"Player 1","tab":"5f870ee4.7efdc","order":2,"disp":true,"width":"6"},{"id":"283278ca.2ad648","type":"ui_group","z":"","name":"Controls","tab":"5f870ee4.7efdc","order":1,"disp":true,"width":"12"},{"id":"110aad11.393fb3","type":"ui_group","z":"90cf2439.d8c998","name":"Player 2","tab":"5f870ee4.7efdc","disp":true,"width":"6"},{"id":"c48f773c.0646d8","type":"ui_tab","z":"","name":"Light Control","icon":"dashboard","order":1},{"id":"5f870ee4.7efdc","type":"ui_tab","z":"","name":"Scoreboard","icon":"dashboard","order":2}]
